[project]
name = "pylandxml-converter"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "numpy>=1.26.0",
    "pymesh>=1.0.2",
    "typer>=0.12.5",
]
